.section_title{
    display: block;
}
.container{
    padding: 0 24px;
}
.portfolio{
    // grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;

    .bio > div{
        position: static;
        align-items: center;
        align-content: center;
        h1{
            font-size: 30px;
        }

        p{
            width: 100%;
        }
    }
    .bio{
        .nav{
            ul{
                display: none;
            }
        }
        .social-media{
            margin: 0;
        }
    }
}

.slide{
    .cards{
        .card{
            flex-direction: column;
            align-items: center;

            .date{
                width: 100%;
                align-self: left;
            }
        }
    }
    .projects{
        img{
            width: 100%;
        }
    }
}
