// Globel styling
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Proxima Nova";
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../font/FontsFree-Net-Proxima-Nova-Bold.woff") format("woff");
  src: url("../font/FontsFree-Net-ProximaNova-Regular.woff") format("woff");
}
ul{
    list-style: none;
}

img{
    width: 100%;
}

a,a:hover{
    text-decoration: none;
}
.container{
    max-width: 1148px;
    width: 100%;
    margin: 0 auto;
}
.section_title{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #212121;
}
// button style
.btn{
    border: 1px solid #42A5F8;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 0;
}

.tabs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40.09px;
        ul{
            display: flex;
            gap: 15px;
            font-size: 12px;
            align-items: center;

            a{
                color: #575A65;
                font-weight: lighter;
                
            }
            a:hover,
                .activeTab{
                    font-weight: bold;
                    color: #42A5F8;
                    text-decoration: none;
                }
        }

        .search__bar{
          background-color: red ;
          width: 273px;
          position: relative;  

            .input__field{
                font-size: 15px;
                border: 1px solid #E8E8E8;
                padding: 10px 20px 10px 42px;
                color: #BDBDBD;
                width: 100%;
                text-align: left;
            
            }
            .search_icon{
                    position: absolute;
                    left: 0;
                    margin: 15px;
                    width: 12px;
                }
        }
    }
// banner style start here
.banner-home{
    // background-color: #152C48;
    // background-image: url('../img/cwcr_header_banner_bg.png') center center/cover no-repeat;
    background: url('../img/cwcr_header_banner_bg.png') center center/cover no-repeat;
    color: #FFFFFF;

}
.banner-content{
    padding: 94.75px 0;
    .banner-left{
        .banner-heading{
            font-size: 35px;
            font-weight: bold;
            line-height: 48px;
            margin-bottom: 28px;
        }

        .banner-description{
            max-width: 509px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 50.5px;
        }

        .btns{
            display: flex;

           
            .req__btn{
                background-color: #41A6FF;
                color: #FFFFFF;
                margin-right: 15px;
            }
            .tryNow__btn{
                background: transparent;
                color: #42A5F8;
            }
        }
    }

    .banner-right{
        .banner-video{
            .banner_video_img{
                position: relative;
            }
            .Media_play_button{
                position: absolute;
                top: 45%;
                left: 45%;
                width: 58px;
            }
        }
    }
}

.integrations{
    padding: 66px 0 36px;

    .section_title{
        margin-bottom: 52px;
    }

    

    // tab__content
    .tab__content{
        display: none;
        justify-content: center;
        gap: 16px;
        overflow: hidden;
        // visibility: hidden;
        // transform: translateX(100%);

        

        .ticket{
            display: flex;
            // justify-content: space-between;
            border: 1px solid #E0E0E0;
            padding: 20.5px 20px;
            gap: 15px;
            margin-bottom: 30px;

            .brand__icon{
                display: flex;
                align-items: flex-start;
                gap: 5px;
                img{
                    width: 40px;
                    object-fit: cover;
                }
            }
            .ticket__description{
                font-size: 16px;
                color: #212121;
                line-height: 20px;
                p{
                    margin-bottom: 4.6px;
                    font-weight: 600;
                }
                a{
                    font-size: 16px;
                    i{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .activeTabContent{
        display: block;
    }
}

// Announcement
.announcement{
    background: url('../img/gartner_banner_bg.png') center center/cover no-repeat;

    .announcement__content{
        max-width: 770px;
        margin: 0 auto;
        padding: 30px 0;
        // align-items: center;
        p{
            text-align: center;
            font-size: 20px;
            color: #188AE2;
            line-height: 32px;

            .author{
                display: block;
            }
        }
    }
}

.leadership-recognition{
    padding: 66px 0;

    .leaddership_performer{
        display: flex;
        justify-content: space-between;
    

        .leadership_content{

            .leadership_content_description{
                font-size: 24px;
                color: #212121;
                margin-bottom: 17px;
            }
            p{
                font-size: 16px;
                color: #575A65;
                line-height: 24px;
            }
        }
    }

}

.cloud_workFlow{
    background-color: #F5F9FC;
    padding: 60px 0;

    .section_title{
        margin-bottom: 31px;
    }
    .workflow_cards{
        // gap: 21px;
        // display: flex;
        // gap: 15px;
        .workflow_card{
            // padding: 30px 51px 30px 30px;
            padding: 30px;
            // margin: 0 15px;
            background-color: #FFFFFF;

            .card_description{
                color: #188AE2;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 19px;
            }

            .card_content{
                color: #575A65;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.case_study{
    padding: 60px 0;

    .section_title{
        margin-bottom: 30px;
    }
    .testimonial_container{
        display: flex;
        justify-content: center;
        gap: 40px;
        
        // align-items: stretch;

        .testimonial_caseStudy{
            border: 1px solid #E0E0E0;
            width: 33.33%;
            padding-bottom: 40px;
            
            .testimonial_content{
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                // justify-content: space-between;
                padding: 40px 40px 0;

                .case_heading{
                    font-size: 24px;
                    color: #212121;
                    // margin-bottom: 20px;
                    margin-bottom: 20px;
                }
                .case_about{
                    font-size: 16px;
                    color: #575A65;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 16px;
                    color: #49BCF8;
                    // justify-self: flex-end;

                    i{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.our-customers{
    padding: 67px 0 104.71px;
    background-color: #F5F9FC;

    .section_title{
        margin-bottom: 63px;
    }

    .feedback-container{
        display: flex;
        gap: 18px   ;

        .customer-feedback{
            padding: 30px;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .quote_icon{
                color: #30D293;
                font-size: 20px;
            }

            .customer-feedback-text{
                font-size: 16px;
                color: #575A65;
                line-height: 24px;
            }

            .customer_intro{
                display: flex;
                gap: 20px;

                .customer-image{
                    width: 50px;
                }

                .customer-name{
                    font-size: 16px;
                    font-weight: bold;
                    align-self: center;
                }
            }
        }
    }

}

.key-takeaways{
    padding: 67px 0;
    .section_title{
        margin-bottom: 63px;
    }

    .key-points-container{
       
        .key-points-content{
            .key-points-list{
                margin-bottom: 15px;
           
                .point-list{
                    display: flex;
                    gap: 15px;

                    p{
                        color: #575A65;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 25px;
                    }
                }
            }
            .webinar__btn{
                line-height: 16px;
                background-color: #41A6FF;
                color: #FFFFFF;
            }
           
        }
        .key-points-video{

            .webinar_video{
                float: right;
                max-width: 471px;
                position: relative;

                .webinar_label{
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    width:  100px;
                }
                .play_btn{
                    position: absolute;
                    top: 32%;
                    left: 39%;
                    border-radius: 50%;
                    padding: 24px;
                    background-color: #FFFFFF55;


                    i{
                        color: #FFFFFF;
                        font-size: 58px;
                    }
                }
            }
        }
    }
}


.app-list{
    padding: 58px 0;

    .section_title{
        margin-bottom: 33px;
    }
    .tabs{
        margin-bottom: 25px;
    }


    // Copy code

    .apps-detail{


        .hover-section{
            // temporary
            display: none;
        }
        .hover-section:after {
            content: "";
            position: absolute;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            top: 30px;
        }

        .app-row{
            display: grid;
            grid-template-columns: repeat(8,1fr);
            grid-column-gap:2px;

            .app-column{
                padding: 0 40px;
                margin-top: 25px;
                position: relative;
                .appname{
                    img{
                        width: 70px;
                        margin-bottom: 15px;
                        border-radius: 12px;
                        border: 1px solid #EEEEEE;
                    }
                    a:last-child{
                        display: block;
                        font-size: 12px;
                        color: #45515E;
                        font-weight: 400;
                        text-align: center;
                    }
                    
                }

                // hover section style
                #hover-section{
                    position: absolute;
                    width: 400px;
                    top: 0;
                    background-color: #fff;
                    z-index: 2;
                    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.16);
                    border-radius: 2px;
                    text-align: left;
                    // visibility: visible;
                    display: block;
                    left: 130px;

                    .app_popup-section{
                        display: flex;
                        flex-direction: column; 

                        .app_info{
                            border-bottom: 1px solid #e0e0e0;
                            padding: 15px 10px; 
                            display: flex;
                            justify-content: space-between;
                            
                            .app_icon{
                                    margin-left: 10px;
                                    // float: left;
                                    border: 1px solid #e0e0e0;
                                    padding: 6px;
                                    border-radius: 5px;
                                
                                    img{
                                        max-width: 36px;
                                        // display: block;
                                    }                        
                                }
                            .add_detail{
                                width: calc(100% - 60px);
                                // float: left;
                                padding-left: 15px;
                            }
                        }
                        .app_integration{
                            padding: 15px 10px;
                            float: left;
                            width: 100%;
                        }


                    }
                    .app_popup-section::after{
                        left: -15px;
                    }
                }
                .hover-section::after{
                    content: "";
                    position: absolute;
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    top: 30px;

                    left: -15px; //
                    border-right: 15px solid #fff;//
                }
               
            }
        }
    }


// .apps-detail .app-column {
//     margin-top: 20px;
//     display: inline-block;
//     position: relative;
// }

// .app-search-block .apps-detail .hover-section {
//     position: absolute;
//     width: 400px;
//     top: 0;
//     background-color: #fff;
//     z-index: 2;
//     box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.16);
//     border-radius: 2px;
//     text-align: left;
//     visibility: visible;
//     display: block;
// }

// .app-search-block .apps-detail .hover-section:after {
//     content: "";
//     position: absolute;
//     border-top: 12px solid transparent;
//     border-bottom: 12px solid transparent;
//     top: 30px;
// }

// .app-search-block .hover-section .app_info,.app-search-block .hover-section .app_integration {
//     padding: 15px 10px;
//     float: left;
//     width: 100%;
// }

// .app-search-block .apps-detail .hover-section .app_info .app_icon {
//     width: 50px;
//     float: left;
//     border: 1px solid #e0e0e0;
//     padding: 6px;
//     border-radius: 5px;
//     margin-left: 10px;
// }

// .app-search-block .apps-detail .hover-section .add_detail {
//     width: calc(100% - 60px);
//     float: left;
//     padding-left: 15px;
// }

// .app-search-block .apps-detail .hover-section .add_detail a {
//     color: #212121;
//     font-size: 15px;
//     font-weight: 600;
//     line-height: 20px;
// }

// .app-search-block .apps-detail .hover-section .add_detail .app_title_name {
//     margin: 0 0 5px;
// }

// .app-search-block .apps-detail .hover-section .add_detail .app_body p {
//     font-size: 12px;
//     line-height: 16px;
//     margin-bottom: 5px;
//     color: #333131;
// }

// .app-search-block .apps-detail .hover-section .add_detail .app_cate ul,.app-search-block .apps-detail .hover-section .app_integration ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// .app-search-block .apps-detail .hover-section .add_detail .app_cate li {
//     font-size: 12px;
//     line-height: 18px;
//     color: #41a6ff;
//     font-weight: normal;
//     background-color: rgb(65,166,255,0.09);
//     padding: 0 2px;
//     display: inline-block;
//     border-radius: 2px;
// }

}










// .hover-section .app_info {
//     border-bottom: 1px solid #e0e0e0;
// }

// .hover-section .integration-title {
//     font-size: 15px;
//     line-height: 20px;
//     font-weight: 600;
//     color: #4bb881;
//     padding-left: 10px;
//     margin: 7px 0 15px;
// }

// .hover-section .app_integration .app_pricing {
//     font-size: 15px;
//     line-height: 20px;
//     display: block;
//     padding: 10px;
//     width: 100%;
//     float: left;
//     position: relative;
//     color: #6da6ed;
// }

// .hover-section .app_integration .apps-view-more {
//     border-radius: 5px;
//     background-color: #55c0a0;
//     font-size: 14px;
//     line-height: 16px;
//     width: 100%;
//     float: left;
//     padding: 14px 0;
//     color: #fff;
//     text-align: center;
//     margin-top: 20px;
//     cursor: pointer;
// }

// .hover-section .app_integration .app_pricing h5 {
//     width: 62%;
//     font-size: 12px;
//     display: inline-block;
//     vertical-align: middle;
//     margin-bottom: 0;
//     color: #212121;
//     height: 20px;
//     overflow: hidden;
//     padding-right: 10px;
//     text-transform: inherit;
// }

// .hover-section .app_integration .app_pricing span {
//     display: inline-block;
//     vertical-align: middle;
//     font-size: 10px;
//     text-align: right;
//     padding: 0 5px 0 0;
// }

// .hover-section .app_integration .app_pricing:hover h5 {
//     text-decoration: underline;
// }

// .hover-section .app_integration .app_pricing:hover {
//     background-color: #fafafa;
// }

// .hover-section .app_integration .app_pricing span b {
//     padding-left: 5px;
// }

// .hover-section .app_integration .app_pricing:after {
//     content: "\f105";
//     font-family: fontawesome;
//     position: absolute;
//     right: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//     color: #fff;
// }

// .hover-section .app_integration .app_pricing:hover:after {
//     color: #212121;
// }
