@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Mulish&family=Open+Sans&family=Poppins:wght@300;400;500;600;700;800&family=Roboto&display=swap');
@import "utility";

.container{
  display: grid;
  gap: 1.8rem;
  margin: 0 auto;
  width: 96%;
  grid-template-columns: 12rem auto 23rem;
}

aside{
  height: 100vh;
  //background-color: red;

  .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 2rem;
      }
      h2{
        margin-left: .4rem;
      }
    }
    .close{
      display: none;
    }
  }

  .sidebar{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 88vh;
    background-color: $color-white;
    box-shadow: $box-shadow;
    position: relative;
    top: 1.5rem;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
      box-shadow: none;
    }

    a{
      display: flex;
      align-items: center;
      color: $color-info-dark;
      height: 3.7rem;
      gap:1rem;
      position: relative;
      margin-left: 2rem;
      transition: all .3s ease;

      &:hover{
        color: $color-primary;

        & span{
          margin-left: .6rem;
        }
      }
      &:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
      }

      &.active{
        width: 100%;
        color: $color-primary;
        background-color: $color-light;
        margin-left: 0;

        &::before{
          content: '';
          width: 6px;
          height: 18px;
          background-color: $color-primary;
        }

        & span{
          color: $color-primary;
          margin-left: calc(1rem - 3px);
        }
      }
      span{
        font-size: 1.6rem;
        transition: all 0.3s ease;
      }
      .message-count{
        font-size: 11px;
        padding: 2px 6px;
        background-color: $color-danger;
        color: $color-white;
        border-radius: $border-radius-1 ;
      }
    }
  }
}

main{
  margin-top: 1.4rem;

  .analyse{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;

    & > div{
      background-color: $color-white;
      padding: $card-padding;
      border-radius: $card-border-radius;
      margin-top: 1rem;
      box-shadow: $box-shadow;
      cursor: pointer;
      transition: all .3s ease;

      &:hover{
        box-shadow: none;
      }

    }

    .sales svg circle{
      stroke: $color-success;
      stroke-dashoffset: -30;
      stroke-dasharray: 200;
    }
    .visits svg circle{
      stroke: $color-danger;
      stroke-dashoffset: -50;
      stroke-dasharray: 200;
    }
    .searches svg circle{
      stroke: $color-primary;
      stroke-dashoffset: -10;
      stroke-dasharray: 200;
    }

    .status{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3{
      margin-left: .6rem;
      font-size: 1rem;
    }

    .progress{
      position: relative;
      width: 92px;
      height: 92px;
      border-radius: 50%;

      svg{
          width: 7rem;
          height: 7rem;

        circle{
          fill: none;
          stroke-width: 10;
          stroke-linecap: round;
          transform: translate(5px,5px);
        }
      }

      .percentage{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        //background-color: red;
        top: -3px;
        left: -1px;

      }
    }
  }


.new-users{
  margin-top: 1.3rem;

  .user-list{
    background-color: $color-white;
    box-shadow:$box-shadow;
    padding: $card-padding;
    border-radius: $card-border-radius;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all .3s ease ;
    &:hover{box-shadow: none}

    .user{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        width: 5rem;
        height: 5rem;
        margin-bottom: .4rem;
        border-radius: 50%;
      }
    }
  }
}

.recent-orders{
  margin-top: 1.3rem;

  h2{
   margin-bottom: 0.8rem;
  }

  table{
    background-color: $color-white;
    width: 100%;
    padding: $card-padding;
    text-align: center;
    box-shadow: $box-shadow;
    border-radius: $card-border-radius;
    transition: all .3s ease;

    &:hover{
      box-shadow: none;
    }

    tr{
      color: $color-dark-variant;
    }

    td{
      padding: 10px 0;
      border-bottom: 1px solid $color-light;
    }

    tr:last-child td{
      border: none;
    }

  }

  a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: $color-primary;
  }
}

}
// Main style End 

.right-section{
  margin-top: 1.4rem;

  .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;

    button{
      display: none;
    }
  }

  .dark-mode{
    background-color: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    border-radius: $border-radius-1;

    span{
      font-size: 1.2rem;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active{
          background-color: $color-primary;
          color: white;
          border-radius: $border-radius-1;
      }
    }
  }

  .profile{
    display: flex;
    gap: 2rem;
    text-align: right;

    .profile-photo{
      width: 2.8rem;
      border-radius: 50%;
      overflow: hidden;
    }

  }

  .user-profile{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 1rem;
      background-color: $color-white;
      border-radius: $card-border-radius;
      box-shadow: $box-shadow;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover{
        box-shadow: none;
      }

      img{
        width: 11rem;
        // height: auto;
      }

      h2{margin-bottom: .2rem;}
    }

    .reminders{
      margin-top: 2rem;

      .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        span{
          padding: 10px;
          box-shadow: $box-shadow;
          background-color: $color-white;
          border-radius: 50%;
        }
      }

      .notification{
        background-color: $color-white;
        box-shadow: $box-shadow;
        border-radius: $border-radius-2;
        padding: 1.4rem $card-padding;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .7rem;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
          box-shadow: none;
        }

        .content{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          width: 100%;
        }

        .icon{
          padding: .6rem;
          color: $color-white;
          background-color: $color-success;
          border-radius: 20%;
          display: flex;
        }

        &.deactive .icon{
          background-color: $color-danger;
        }
      }

     }

  

}