.client_section{
  padding: 30px 0;


  .slick-dots {
    bottom: -6px;
  }
  .client-sec-heading{
    font-size: 20px;
    margin-bottom: 30px;
  }

  .client-cards{

    .intro-card{
        .client_video{
          margin-bottom: 30.63px;
        }

      .about_work{
        margin-bottom: 10px;
      }
      .client-intro{
        margin-bottom: 30px;
      }
    }
  }


  .outline_btn{
    display: none;
  }
}
