// Content styling start here
.content{
  padding: 30px 0;
  margin-top: 45px;

  .text-center{
    font-size: 24px;
    margin-bottom: 10.5px;
  }
  .nav{
    margin-bottom: 20.5px;

    .nav-link{
      margin-right: 25px;
      line-height: 1.53;
    }
  }

  .tab-content{
    .slick-next{
      right: 13px;
    }
    .slick-prev{
      left: 13px;
      z-index: 5;
    }
  }
}