.home-db-platform{
  padding: 60px 0;

  h2{
    text-align: center;
    margin-bottom: 41px;
    font-size: 32px;
    font-weight: 500;
    color: #233643;
  }
  img{
    max-width: 1084px;
    margin: 0 auto;
  }
}
