
header{
  width: 100%;
  background-image: linear-gradient(to right,#FFFFFF,#F2F2F2);
  border: 1px solid #E6E6E6;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 39.02px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0 10px;
    img {
      background: transparent;
    }
  }

  .header-right{
    display: flex;
    flex-direction: column;
    width: 100%;

    .header-gray{
      display: flex;
      justify-content: flex-end;
      font-family: 'proxima-nova',sans-serif;
      margin: 9px 0 22px;
    }
    .contact-here {
      font-size: 12px;
      margin: 7px 0 6px;
      margin-right: 13.5px;
      width: 314.46px;
      display: flex;
      justify-content: space-between;
      .call-icon{
        margin-right: 6px;
        width: 10.46px;
      }
      a {
        color: #999999;
      }
      p {
        display: inline;
        color: #303748;
        margin-bottom: 0;

        a {
          color: #337AB7;
        }
      }
    }

    .search-group{
      display: flex;

      &::before{
        content: '';
        display: inline-block;
        height: 17px;
        width: 1px;
        margin-right: 8.5px;
        background-color: #D1D1D1;
        position: relative;
        top: 5px;
      }
    }
    .input-icon{
      position: relative;
      color: #969696;
      width: 136px;

      input{
        //position: relative;
        border-radius: 14px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        padding: 4.75px 10px;
        font-size: 11px;
        width: 136px;

        &:focus{
          outline: none;
        }
      }
      .search-icon{
        position: absolute;
        right: 6px;
        top:6px;
      }
    }

    .header-white{
      display: block;
      .navbar_{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 14px;

        .navbar_nav{
          //margin-bottom: 19px;
          a{
            color: #000000;
            margin-right: 30px;
            padding-bottom: 10px;
            transition: all .1s ease;
            font-weight: 400;
            &:last-child{
              margin-right: 0;
            }
            &:hover {
              border-bottom: 5px solid #337AB7;
            }
          }
        }

        .nav-right {
          display: flex;
          justify-content: center;
          align-items: center;
          .navbar-login {

            a {
              color: #000000;
            }
          }

          .trial-btn {
            color: #FFFFFF;
            margin-left: 39px;
          }
          .hamburger-menu{display: none}

        }
      }
    }
  }
}
