
.header{
  .logo{
    margin: 15.25px 0;
    img{
      width: 54px;
    }
  }
  .header-right{


    .header-gray{
        display: none;
    }
    .header-white{

      .navbar_{

        .navbar_nav{
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          display: none;
          flex-direction: column;

          a{
            width: 100%;
            background-color: rgba(0,0,0,0.3);
            padding: 10px;
            color: #ffff;
            margin:0;

            &:hover{
              border-bottom: none;
            }

          }

        }

        .nav-right {
          position: absolute;
          top:29px;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .navbar-login {
            a {
              display: none;
            }
          }
          .trial-btn{
            margin: 0;
            padding: 6px 12px;
          }

          .hamburger-menu{
            display: block;
            margin: 0 16px;

            i{font-size: 17px}
          }
        }

      }

    }
  }
}
