
.home-ratings{
  position: absolute;
  bottom: -58px;
  background-color: #FFFFFF;
  padding: 22px 77px;
  max-width: 1088px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 3px 18px #7E7E7E29;
  //overflow: hidden;
  z-index: 5;

  .rating-box{
    margin: 0 auto;
    .rating-img{
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .ratings{
      display: flex;
      justify-content: center;
      line-height: 1.1;
      .rating-star{
        margin-right: 11px;
        display: flex;
        img{
          padding: 1.26px;
          width: 14.25px;
        }
      }

      .reviews-number{
        p{
          display: inline;
          color:#333131;
          font-size: 15px;
        }
      }
    }

  }
}