.home-ratings{
  //display: none;
  bottom: -51px;
  padding: 14px 5px 15px 6px;
  //width: 90%;
  //margin: 0 17px;
  //width: 326px;
  overflow: hidden;
  justify-content: space-around;
  .rating-box{
    width: 108px;

    //margin: 14px 0 15px;

    .rating-img{
      margin-bottom: 4px;
    }
    .ratings{
      flex-direction: column;
      align-items: center;
      .rating-star{
        margin: 0;
      }
      .reviews-number{
        p{
          font-size: 12px;
        }
      }
    }
  }
}