
.case-study-section{
  padding: 60px 0;

  .case-study-row{


    &:nth-child(even){
      background-color: #F1F6F9;
      .case-study{
        flex-direction: row-reverse;
      }
    }

    .case-study{
      max-width: 967px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 40px;
      padding: 50px 0;

      .case-study-img{
        img{
          width: 330px;

        }
      }


      &-info{
        max-width: 577px;
        h3{
          font-size: 32px;
          color: #233643;
          font-weight: 600;
          margin-bottom: 30px;
        }
        p{
          font-size: 16px;
          line-height: 24px;
          color: #707070;
          margin-bottom: 35px;
        }
        .card_footer{
          display: flex;
          gap: 0 40px;

          a{
            font-size: 14px;
            font-weight: 700;
          }

          i{
            color: #000000;
          }
        }
      }
    }
  }
}