* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(74, 79, 107, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(67, 107, 236);
}

img {
  width: 100%;
}

i {
  padding: 0px 15px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header .container .header .logo {
  width: 100px;
}

header .container .header .navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
header .container .header .navbar ul {
  display: flex;
}
header .container .header .navbar ul li a {
  color: white;
  font-size: 22px;
  margin-left: 60px;
}

header .container .header .navbar ul li:first-child a {
  margin: 0;
}
header .container .header .toggal-btn {
  display: none;
}

/* Header Ends here */

/* Banner section start here */
section .container .banner {
  margin: 50px 0px;
  background-color: white;
}
section .container .banner .slider {
  width: 100%;
  height: 510px;
  position: relative;
  top: 0;
  left: 0;
}
section .container .banner .slider img {
  width: 100%;
  height: 510px;
  position: absolute;
  top: 0;
  left: 0;
}
section .container .banner .slider img:first-child {
  z-index: 1;
}
section .container .banner .slider img:nth-child(2) {
  z-index: 0;
}
section .container .banner .slider .navigation-button {
  position: absolute;
  bottom: 0;
  right: 30px;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px 5px 0px 0px;
  z-index: 10;
}
section .container .banner .slider .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border: 4px solid #bbb;
  border-radius: 50%;
  display: inline-block;
}
section .container .banner .slider .active,
section .container .banner .slider .dot:hover {
  background-color: #0b0b0b;
}
section .container .banner .slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  color: white;
  z-index: 10;
  width: 0;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid white;
}
section .container .banner .banner_info {
  padding: 35px 20px;
  font-size: 20px;
}

.special-p {
  background-color: white;
  padding: 30px 0px;
  margin-bottom: 40px;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.special-p button {
  font-size: 30px;
  background-color: rgb(82, 82, 252);
  color: white;
  padding: 10px 20px;
  border: none;
}

.testimonials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.testimonials .testimonial {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.testimonials .testimonial div {
  position: relative;
  height: 50%;
}
.testimonials .testimonial div img {
  height: 100%;
}
.testimonials .testimonial div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 10;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid white;
}
.testimonials .testimonial p {
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.about {
  margin: 50px 0 10px 0px;
  padding: 10px;
  background-color: white;
}
.about .testimonials .testimonial {
  padding: 20px;
}
.about .testimonials .testimonial h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0px;
}
.about .testimonials .testimonial a {
  text-align: right;
}
.about .about-info {
  display: flex;
  flex-direction: row;
}
.about .about-info .about-left {
  padding: 20px;
  padding-bottom: 0px;
  width: 60%;
}
.about .about-info .about-left h2 {
  font-size: 40px;
  font-weight: 300;
  padding: 30px 0px;
}
.about .about-info .about-left img {
  height: 30%;
}
.about .about-info .about-left-info {
  padding: 10px 20px;
  padding-bottom: 0px;
}
.about .about-info .about-left-info h4 {
  font-size: 30px;
  font-weight: 200;
  padding: 20px 0px;
}
.about .about-info .about-left-info p {
  font-size: 20px;
}
.about .about-info .about-left-info a {
  display: block;
  text-align: right;
}
.about .about-info .about-left-info nav {
  text-align: right;
  margin-top: 30px;
}
.about .about-info .about-left-info nav label {
  margin: 0px 10px;
}
.about .about-info .about-left-info nav label i {
  font-size: 20px;
}
.about .about-info .about-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px;
  width: 40%;
}
.about .about-info .about-right h3 {
  font-size: 40px;
  font-weight: 300;
  padding: 30px 0px;
}
.about .about-info .about-right .icons {
  height: 30%;
}
.about .about-info .about-right .icons .icon {
  display: inline-block;
}
.about .about-info .about-right .icons .icon label {
  text-align: center;
  display: block;
  font-weight: 900;
}
.about .about-info .about-right .icons .icon i {
  font-size: 100px;
}
.about .about-info .about-right .pictures .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  transition: all 0.3s ease-in;
}

.about .about-info .about-right .pictures .grid img:hover {
  transform: scale(1.02);
}

.slideingTestimonial {
  padding: 20px 0px;
}
.slideingTestimonial h1 {
  font-size: 43px;
  text-align: left;
  color: white;
  margin: 10px 0px 30px;
  text-shadow: 2px 2px 4px #000000;
}
.slideingTestimonial .testimonial-slider .item {
  background-color: white;
  margin: 0px 10px;
}
.slideingTestimonial .testimonial-slider .item .sliderImg {
  height: 50%;
  position: relative;
}
.slideingTestimonial .testimonial-slider .item .sliderImg img {
  height: 100%;
}
.slideingTestimonial .testimonial-slider .item .sliderImg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 10;
  width: 0;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid white;
}
.slideingTestimonial .testimonial-slider .item .sliderInfo {
  padding: 20px;
}

.reviews {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
.reviews .review {
  display: flex;
  justify-content: space-between;
}
.reviews .review div {
  margin-right: 10px;
}
.reviews .review div img {
  width: 50px;
}
.reviews .review .comments {
  background-color: rgba(114, 111, 111, 0.3);
  padding: 15px 10px;
  border-radius: 10px;
  width: 100%;
}

.footer {
  background-color: rgba(105, 103, 103, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 9px;
  margin: 20px 0px;
}
.footer .social-icon > a > i {
  font-size: 25px;
}
